In [3]:
salaries=['20k','40k','50k','60k','35k','89k','40k']

In [4]:
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

### 1. What is the length of the salaries list.

In [6]:
len(salaries)

7

### 2. Retrieve the third salary in the list by using index.

In [8]:
salaries[3]

'60k'

### 3. Extract the last salary from the list by using a negative index.

In [10]:
salaries[1]

'40k'

### 4. Slice the salaries list to get only the middle three salaries.

In [12]:
salaries[2:5]

['50k', '60k', '35k']

### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [14]:
salaries=['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [15]:
salaries.append("100k")

In [16]:
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

### 5. Add a new salary to the list, ‘120k’ without method.

In [18]:
salaries=salaries+['120k']

In [32]:
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

### 6. Replace the third salary in the list with '55k' and print the updated list.

In [36]:
salaries[2]='55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 7. Count how many times '40k' appears in the list.

In [39]:
salaries.count('40k')

2

### 8. Insert a new salary at the second position.

In [74]:
salaries.insert(1,'30k') # New salary 30k

In [76]:
print(salaries)

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 9. Reverse the order of the salaries list with method.

In [79]:
salaries.reverse()

In [81]:
print(salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k']

### 10. Reverse the order of the salaries list without method.

In [86]:
salaries=salaries[::-1]
print(salaries)

['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']